header {
    padding: 10px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #ee7272;
    display: flex;
    gap: 10px
}

header img {
    height: 100%;
}

header h1, header h2 {
    margin: 0;
}

header h1 {
    color: #ee7272;
}

header h2 {
    color: #918bd6;
}

